/*
* @Author: 虚竹
* @Date:   2016-10-12 10:10:54
* @Last Modified by:   虚竹
* @Last Modified time: 2016-10-12 12:14:24
*/
$font-size:50px;

.Hello {
	span {
		font-size: $font-size;
	}
	p {
		height: 200px;
		width: 320px;
		background: url(./images/2.jpg);
	}
}